
body{
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #434a54;
    background-color: #f5f7fa;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
 .blue {
	background-color: #4A89DC;
    border-radius: 10px 10px 0 0;
    height: 500px;
    
}
header .container .row .header{
	background-color:#f3f5f8;
	height: 67px;
}
.header .container .row .clearfix .site-nav .navigation ul li{
	list-style: none;
	display: inline-block;
}
.site-title{
	display: inline-block	;
}


hr{
	margin: 2rem 0;
    color: #137ae0;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}
i{
	    color: #434a54;
}
.div1-1{
    width: fit-content;
}


@media only screen and (max-width: 600px) {
    .div1 {
        margin-left: -87px;
}
    }
@media only screen and (max-width: 585px) {
    .center{
    margin-left: 60px;
}
    }
@media only screen and (max-width: 585px) {
    .about-section{
        width:420px;
    }
      }
@media only screen and (max-width: 590px) {
 .div1{
     width:420px;
 }
  }
@media only screen and (max-width: 578px) {
.timeline-card{
    width:420px;
}
  }
@media only screen and (max-width: 520px) {
    .timeline-card{
        width:350px;
    }
      }
@media only screen and (max-width: 580px) {
    .motamota{
     margin-left: 250px;
}
  }
.sec2{
	margin-top: 28px;
}


.link{
border-bottom: 2px dotted #434a54;
}
.center{
        text-align: center!important;
    }
a{
    color: #434a54;
    text-decoration-style: none;
}
.progres{
    width: 427px;
    display: flex;
 }

input{
    color: #434a54;
    background-color: #f8f9fa;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

 .sec4  {

    margin-top: 150px;
}

 .col-div{
     display:flex;
     margin-top: 120px;
 }

 .timeline-card-primary:before {
    border-color: #4A89DC !important;
}
.timeline-card:before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 20px;
    left: -41px;
    border: 2px solid;
    z-index: 2;
}

.timeline-card-primary:after {
    background-color: #4A89DC !important;
}
.timeline-card:after {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: currentColor;
    width: 29px;
    height: 2px;
    top: 25px;
    left: -29px;
    z-index: 1;
}

.timeline-card-success:before {
    border-color: #37BC9B !important;
}
.timeline-card:before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 20px;
    left: -41px;
    border: 2px solid;
    z-index: 2;
}

.timeline-card-success:after {
    background-color: #37BC9B !important;
}
.timeline-card:after {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: currentColor;
    width: 29px;
    height: 2px;
    top: 25px;
    left: -29px;
    z-index: 1;
}
.work-experience-section{
    border-left: 2px solid #e6e9ed;
    padding-left: 34px;
}
.education-section{
    border-left: 2px solid #e6e9ed;
    padding-left: 34px;
}
.div1{
    display: flex;
}

#motamota {
    display: flex;
}
.row12{
    display: flex;
}